.Superproduct table thead tr {
    background-color: rgb(251, 109, 72);
    color: #ffffff;
    text-align: left;
}

.Superproduct{
    display: flex;
}
.Superproduct img{
    width: 500px;
    margin-left: 70px;
}


